body,
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
button {
  padding: 0.6rem 4rem;
  color: white;
  border-radius: 10px !important;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
a {
  text-decoration: none !important;
  color: white !important;
}
li {
  cursor: pointer;
}
.rounded-icon {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
}

.button-green {
  background: linear-gradient(135deg, #70f570 0%, #49c628 100%);
}
.button-white {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.button-red {
  background-color: red;
  color: white;
}
.color-red {
  color: red;
}
.bold {
  font-weight: 500;
  font-size: 20px;
}
.container-div {
  padding: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin: 1rem 0;
  position: relative;
}
table {
  color: black;
  width: 100%;
}
table,
th,
td {
  border: 1px solid black !important;
  border-collapse: collapse;
  text-align: center;
  padding: 0.5rem;
}
/* Modal */
.big-modal .modal-content {
  height: 800px;
  padding: 1rem;
  border-radius: 10px;
}
.big-modal-2 .modal-content {
  height: 700px;
  padding: 1rem;
  border-radius: 10px;
}
.medium-modal .modal-content {
  width: 600px;
  height: 500px;
  padding: 1rem;
}
.modal-content h2 {
  text-align: center;
  margin: 1rem;
  font-size: 25px;
}
.big-modal .inputs {
  display: flex;
  gap: 1rem;
}
.big-modal .inputs input,
.big-modal .inputs textarea .big-modal input,
.big-modal textarea {
  border: none;
  border-radius: 7px;
  background-color: #dfdcdc;
  padding: 0.8rem 1rem;
  width: 100%;
  margin: 0.5rem 0;
}
.big-modal textarea {
  resize: none;
  height: 230px;
}
.big-modal input::placeholder {
  color: black;
}
.big-modal button {
  display: flex;
  justify-content: center;
  margin: 0.3rem auto;
  border-radius: 10px;
}
.checkbox-div > div {
  display: flex;
}
.checkbox-div span {
  width: 50%;
  display: flex;
  gap: 0.3rem;
}
